-# %a{href: 'auth/google_oauth2'} Login thru google
%p
  Current user: #{current_admin.name}
  = link_to "Logout yo", destroy_admin_session_path, :method => :delete


.ideas-list{ng: {controller: 'IdeasListCtrl', init: "ideas=#{jsonize(@ideas)}"}}
  .idea{ng: {repeat: 'idea in ideas'}}
    %h3
      {{idea.title}}
    %p
      {{idea.description}}
    %p
      by {{idea.admin.name}}
      %img{src: "{{idea.admin.imageUrl && idea.admin.imageUrl || idea.admin.image_url}}"}
    %p
      votes {{idea.upvotes}} {{idea.voted && 'you already voted' || 'you can upvote'}}
    .btn.btn-success{ng: {click: 'vote(idea)'}} Vote

  .new-idea
    %input{type: 'text', ng: {model: 'newIdea.title'}}
    %textarea{ ng: {model: 'newIdea.description'}}
    .btn.btn-primary{ng: {click: 'createIdea(newIdea)'}} Add idea