-# %a{href: 'auth/google_oauth2'} Login thru google

.ideas-list{ng: {controller: 'IdeasListCtrl', init: "ideas=#{jsonize(@ideas)}"}}
  =render "ideas/new"

  .idea{ng: {repeat: 'idea in ideas'}}
    =render "ideas/idea"