%h1 Sorry, you have to have COSHX.COM domain in your email address, otherwise how we can make sure you are not an NSA spy???
%h2 Example: chuck.norris@coshx.com

%a{href: '/'} Try choose different email