%span.upvotes
  {{idea.upvotes}}
  %span.vote{ng: {click: 'vote(idea)'}, class:'voted-{{idea.voted}}'}
    %span.glyphicon.glyphicon-arrow-up{ng:{show: '!idea.voted'}}
    %span.glyphicon.glyphicon-arrow-down{ng:{show: 'idea.voted'}}
%span.title
  {{idea.title}}
%span.admin
  by
  {{idea.admin.name}}
  .avatar{style: "background: url('{{idea.admin.imageUrl && idea.admin.imageUrl || idea.admin.image_url}}');"}
%a.goto{href: "/ideas/{{idea.id}}"}
  %span.glyphicon.glyphicon-chevron-right
  %span.glyphicon.glyphicon-chevron-right
