%span.upvotes
  {{idea.upvotes}}
  %span.vote{ng: {click: 'vote(idea)'}, class:'voted-{{idea.voted}}'}
    %span.glyphicon.glyphicon-arrow-up{ng:{show: '!idea.voted'}}
    %span.glyphicon.glyphicon-arrow-down{ng:{show: 'idea.voted'}}
%span.title
  %a{href: "/ideas/{{idea.id}}"} {{idea.title}}
%span.user
  by
  {{idea.user.name}}
  .avatar{style: "background: url('{{idea.user.imageUrl && idea.user.imageUrl || idea.user.image_url}}');"}
%a.remove{ng: {show: 'currentUser.id==idea.user.id', click: 'removeIdea(idea)'}}
  Remove
%a.goto{href: "/ideas/{{idea.id}}"}
  %span.glyphicon.glyphicon-chevron-right
  %span.glyphicon.glyphicon-chevron-right
%span.tags
  Tags: 
  %a.tag{ng: {repeat: 'tag in idea.tags'}, href: "/tags/{{tag.title}}"}
    {{tag.title}}
.status{class: 'status-{{idea.status.title}}', ng: {click: 'showStatusesFor(idea)'}}
  {{idea.status.title}}
.statuses{ng: {show: 'showStatusesIdea==idea.id'}}
  Choose status: 
  .status{ng: {click: 'changeStatus(idea, status)', repeat: 'status in statuses'}, class: 'status-{{status.title}}'}
    {{status.title}}

