.new-idea{ng: {show: 'showNewIdea'}}
  %input{type: 'text', ng: {model: 'newIdea.title'}, placeholder: "Idea title"}
  %textarea{ ng: {model: 'newIdea.description'}, placeholder: "Idea description"}
  .btn.btn-primary{ng: {click: 'createIdea(newIdea)'}} Add idea