Hi, #{@user.name},

Hereby notifying you that a cute user #{@author.name} has commented on the idea you posted - #{@comment.idea.title}

Please accept our warmest congratulations about that,
seems your ideas are valuable and important to people yo. 