Hi, dear happy user #{@user.name},
%br
%br

Hereby notifying you that a new idea has been created by a cute user #{@author.name} 

%br

Follow this link if you care to read the new idea and if you WANT something to say: <a href="http://ideas.coshx.com/ideas/#{@idea.id}">#{@idea.title}</a>

%br
%br

Thank you and have a good day, sir,<br>
Nerdy yours<br>
Coshx Ideas<br>