
@import "bourbon";


$light: #EEEEEE;
$medium-light: #AAAAAA;

.idea {
  padding: 15px 0px;
  border-bottom: 1px solid $light;
  font-size: 18px;
  .upvotes {
    color: $medium-light;
    font-size: 18px;
    padding-right: 20px;
  }
  .admin {
    color: $medium-light;
    img {
      width: 30px;
    }
  }
  .vote {
    @include user-select(none);
    cursor: pointer;
    font-size: 16px;
    &:hover {
      opacity: 0.8;
    }
    &.voted-true {
      color: $light;
    }
  }
}
.new-idea {
  padding: 15px;
  background: $light;
}