
@import "bourbon";


$light: #EEEEEE;
$medium-light: #AAAAAA;
$very-light: #FCFCFC;
$white: #FFFFFF;

p {
  font-size: 18px;
}
.logo {
  background: image-url('logo.png');
  width: 223px;
  height: 60px;
  content: '';
}
.collapse {
  padding-top: 20px;
}
.ideas-list {
  border-top: 1px solid $light;
  .description {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
.idea {
  @include transition(all 0.3s);
  background: $white;
  padding: 15px 0px 15px 5px;
  border-bottom: 1px solid $light;
  font-size: 18px;
  .upvotes {
    color: $medium-light;
    font-size: 18px;
    padding-right: 20px;
  }
  .admin {
    color: $medium-light;
    img {
      width: 30px;
    }
  }
  .vote {
    @include user-select(none);
    cursor: pointer;
    font-size: 16px;
    &:hover {
      opacity: 0.8;
    }
    &.voted-true {
      color: $light;
    }
  }
  .goto {
    padding: 0;
    margin: 0;
    color: $light;
    margin-left: 20px;
    cursor: pointer;
  }
}
.avatar {
  display: inline-block;
  border-radius: 20px;
  content: '';
  width: 30px;
  height: 30px;
  border: 1px solid $light;
  vertical-align: middle;
  background-size: cover !important;
  background-position: center center;
  background-repeat: no-repeat;
}
.new-idea {
  padding: 15px;
  background: $light;
}
.link {
  cursor: pointer;
  @include user-select(none);
}
.comment {
  .image {
    display: inline-block;
  }
  .name {
    font-weight: bold;
  }
  .time {
    color: $medium-light;
  }
  .remove {
    cursor: pointer;
    &:hover {
      opacity: 0.7;
    }
  }
}
.new-comment {
  textarea {
    display: inline-block;
    min-width: 300px;
  }
}